# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore datasets and data folders
src/data/
data/
*.csv
*.xlsx
*.zip

# Ignore R-related files
*.Rhistory
*.RData
*.Rproj.user

# Ignore Docker build artifacts
*.log
*.tar
*.out
*.tmp


# Ignore IDE/project files
.vscode/
.idea/

# Ignore GitHub Codespaces or VSCode remote settings (optional)
.devcontainer/
